# PDDL requirements
pddl

tabulate

# Sentence Transformers
sentence-transformers

# torch
# datasets~=2.20.0
# transformers[torch]

# Utils 
tqdm
ipywidgets
jupyterlab
pandas
einops
matplotlib
scikit-learn
scipy
seaborn
natsort
jsonlines